* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Varela", sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url(../src/images/Hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
